---
import Nav from '../components/User-site/navclient.astro';
import Layout from "~/layouts/userlayout.astro";
---

<Layout>
  <Nav />
  <div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-6">Program</h1>
    <p>Konten program akan ditampilkan di sini.</p>
  </div>
</Layout>
